<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>ceci est la page de connexion</p>
    <a href="{{url_for('index')}}">acceuil</a>
    <a href="{{url_for('register')}}">s'enregistrer</a>

    <form method="post" action="{{ url_for('traitementConnexion') }}">
        <label for="">mail : </label>
        <input type="email" name="email" id="">
        
        <label for="">mot de passe : </label>
        <input type="password" name="password" id="mdp">
    
        <input type="submit" id="dis" value="submit">
    </form>
</body>
</html>