<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="dock">
            <a class="navbar-brand" href="{{ url_for('index') }}">Votre Banque</a>
            <div class="navbar-nav">
                <a class="nav-item {% if request.endpoint == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Accueil</a>
                {% if 'user' in session %}
                <a class="nav-item {% if request.endpoint == 'registerAccount' %}active{% endif %}" href="{{ url_for('doTransaction') }}">Faire une transactions</a>
                    <a class="nav-item {% if request.endpoint == 'registerAccount' %}active{% endif %}" href="{{ url_for('affichage_compte') }}">Transactions</a>
                    <a class="nav-item {% if request.endpoint == 'registerAccount' %}active{% endif %}" href="{{ url_for('registerAccount') }}">Nouveau Compte</a>
                    <a class="nav-item" href="{{ url_for('logout') }}">Déconnexion ({{ session['user'] }})</a>
                {% else %}
                    <a class="nav-item {% if request.endpoint == 'register' %}active{% endif %}" href="{{ url_for('register') }}">S'inscrire</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <h1>voila la liste de vos comptes {{data.nom}} {{data.prenom}}</h1>
    {% if 'user' in session %}
        <a href="{{url_for('logout')}}">se deconnecter</a>
        <a href="{{url_for('registerAccount')}}">creer compte</a>
        <a href="{{url_for('listAccount')}}">vos compte</a>
        <a href="{{url_for('logout')}}">vos transactions</a>
    {% else %}
        <a href="{{url_for('register')}}">s'enregistrer</a>
    {% endif %}
    <table>
        <thead>
            <tr> 
            <th>numero de compte</th>
            <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
                <tr>
                    <td>{{i.numeroDeCompte}}</td>
                    <td>{{i.montant}}</td>
                </tr>
            {%endfor%}    
        </tbody>
    </table>

</body>
</html>