<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>Mon compte Flask</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body class = 'inscription'>

    <nav class="navbar">
        <div class="dock">
            <a class="navbar-brand" href="{{ url_for('index') }}">Votre Banque</a>
            <div class="navbar-nav">
                <a class="nav-item {% if request.endpoint == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Accueil</a>
                {% if 'user' in session %}
                <a class="nav-item {% if request.endpoint == 'registerAccount' %}active{% endif %}" href="{{ url_for('doTransactions') }}">Faire une transactions</a>
                    <a class="nav-item {% if request.endpoint == 'registerAccount' %}active{% endif %}" href="{{ url_for('affichage_compte') }}">Transactions</a>
                    <a class="nav-item {% if request.endpoint == 'registerAccount' %}active{% endif %}" href="{{ url_for('registerAccount') }}">Nouveau Compte</a>
                    <a class="nav-item" href="{{ url_for('logout') }}">Déconnexion ({{ session['user'] }})</a>
                {% else %}
                    <a class="nav-item {% if request.endpoint == 'register' %}active{% endif %}" href="{{ url_for('register') }}">S'inscrire</a>
                {% endif %}
            </div>
        </div>
    </nav>
    

    <!-- Contenu principal -->
    <div class="container">  
        <div class="join"> 
            <h1>Rejoignez-nous</h1>
            <form method="post" action="{{ url_for('traitement') }}">
                <label for="nom">Nom : </label>
                <input type="text" name="nom" id="nom">

                <label for="prenom">Prénom : </label>
                <input type="text" name="prenom" id="prenom">

                <label for="email">Mail : </label>
                <input type="email" name="email" id="email">
                
                <label for="mdp">Mot de passe : </label>
                <input type="password" name="password" id="mdp">
                
                <input type="submit" id="dis" value="S'inscrire">
            </form>
        </div>    
    </div>

    <script src="{{ url_for('static', filename='js/action.js') }}"></script>
</body>
</html>