<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>Mon compte Flask</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="registerAccount">
        
       {% if 'user' in session %}
                <nav class="navbar">
                    <div class="dock">   
                        <a class="navbar-brand" href="{{ url_for('index') }}">Ma Banque</a>
                        <div class="navbar-nav">
                            <a class="nav-item active" href="{{ url_for('index') }}">Accueil</a>
                            <a class="nav-item {% if request.endpoint == 'registerAccount' %}active{% endif %}" href="{{ url_for('affichage_compte') }}">Transactions</a>
                            <a class="nav-item {% if request.endpoint == 'actions' %}active{% endif %}" href="{{ url_for('actions') }}">Filtrage</a> <!-- Nouvel onglet -->
                            <a class="nav-item" href="{{ url_for('logout') }}">Déconnexion ({{ session['user'] }})</a>
                    {% else %}

                    {% endif %}
                        </div>
                    </div>
               </nav>

        <!-- Contenu principal de la page -->
        <div class="container registerAccount-form">
            <h1>Créer votre compte</h1>
            <form method="POST" action="{{ url_for('traitementregisterAccount') }}">
                <label for="montant">Montant de base :</label>
                <input type="number" id="montant" name="montant" required>

                <input type="submit" id="dis" value="Soumettre">
            </form>
        </div>
    </body>
</html>
 